@using Clf.Blazor.Complex.IntensityMap.ViewModels
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers.TabWidget
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.ViewModels.ContainerWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.MonitorWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.UpdateWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.HelperWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels

<div>
  <RadioButton ViewModel="@ViewModel?.ROIMethod" />
</div>
  <div class = "roi-tab">
  <div><label>ROI Start X</label></div>    
  <div class="roi-tab-flex">
    <div>
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.CameraROIStartXSet" />
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROIStartXSet" />
    </div>
    <div>
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.CameraROIStartXRBV" />
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROIStartXRBV" />
    </div>
  </div>
    <div><label>ROI Start Y</label></div>
  <div class="roi-tab-flex">
    <div>
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.CameraROIStartYSet" />
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROIStartYSet" />
    </div>
    <div>
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.CameraROIStartYRBV" />
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROIStartYRBV" />
    </div>
    </div>
    
    <div>
        <label>ROI Size X</label>
    </div>
  <div class="roi-tab-flex">
    <div>
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.CameraROISizeXSet" />
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROISizeXSet" />
    </div>
    <div>
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.CameraROISizeXRBV" />
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROISizeXRBV" />
    </div>
    </div>
    
    <div>
        <label>ROI Size Y</label>
    </div>
  <div class="roi-tab-flex">
    <div>
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.CameraROISizeYSet" />
      <TextEntry class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROISizeYSet" />
    </div>
    <div>
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.CameraROISizeYRBV" />
      <TextUpdate class="roi-tab-common-width" ViewModel="@ViewModel.SoftwareROISizeYRBV" />
    </div>
    </div>    
  </div>

<div class="roi-setttings-tab">
  <ActionButton ViewModel="@ViewModel.ROIPluginSettings" />
</div>


@code {
    [Parameter]
    public IntensityMapFeatures_ROITabViewModel ViewModel { get; set; }

}
