@page "/Cameras/{PageTitle}/ROI-Plugin-Settings"

@using Clf.Blazor.Complex.IntensityMap.ViewModels;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers.TabWidget
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.ViewModels.ContainerWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.MonitorWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.UpdateWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.HelperWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels



<div class="roi-plugin-settings-tab">
    <div style="grid-column:1/3; text-align:center;">
        <label>@ViewModel.roiPageHeaderName</label>
    </div>
    <div style="grid-column:1;">
      <IntensityMapFeatures_CommonPluginSettings ViewModel="@ViewModel.ROICommonPluginSettingsTab" />        
      </div>
    <div style="grid-column:2;">
        <div class="roi-settings-tab">
        <div style="grid-column:1;">
            <label>Name</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIName"/>
        </div>

        <div style="grid-column:1;">
            <label>Data Type</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIAutoDataTypeSet" />
            <TextUpdate ViewModel="@ViewModel.ROIAutoDataTypeRBV" />
        </div>

        <div style="grid-column:1;">
            <label>Enable Scaling</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIEnableScalingSet" />
            <TextUpdate ViewModel="@ViewModel.ROIEnableScalingRBV" />
        </div>

        <div style="grid-column:1;">
            <label>Scale Divisor</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIScaleDivisorSet" />
            <TextUpdate ViewModel="@ViewModel.ROIScaleDivisorRBV" />
        </div>

        <div style="grid-column:1;">
            <label>Collapse Dims</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROICollapseDimsSet" />
            <TextUpdate ViewModel="@ViewModel.ROICollapseDimsRBV" />
        </div>

        <div style="grid-column:1;">
            <label>ROI Input Size</label>
        </div>
        <div style="grid-column:2;">
            <TextUpdate ViewModel="@ViewModel.ROIInputSizeXRBV" />
            <TextUpdate ViewModel="@ViewModel.ROIInputSizeYRBV" />
            <TextUpdate ViewModel="@ViewModel.ROIInputSizeZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Enable X</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIEnableXSet" />
            <TextUpdate ViewModel="@ViewModel.ROIEnableXRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Enable Y</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIEnableYSet" />
            <TextUpdate ViewModel="@ViewModel.ROIEnableYRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Enable Z</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIEnableZSet" />
            <TextUpdate ViewModel="@ViewModel.ROIEnableZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Binning X</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIBinningXSet" />
            <TextUpdate ViewModel="@ViewModel.ROIBinningXRBV" />
        </div>

        <div style="grid-column:1;">
            <label>Binning Y</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIBinningYSet" />
            <TextUpdate ViewModel="@ViewModel.ROIBinningYRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Binning Z</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIBinningZSet" />
            <TextUpdate ViewModel="@ViewModel.ROIBinningZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Start X</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIStartXSet" />
            <TextUpdate ViewModel="@ViewModel.ROIStartXRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Start Y</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIStartYSet" />
            <TextUpdate ViewModel="@ViewModel.ROIStartYRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Start Z</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROIStartZSet" />
            <TextUpdate ViewModel="@ViewModel.ROIStartZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Size X</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROISizeXSet" />
            <TextUpdate ViewModel="@ViewModel.ROISizeXRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Size Y</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROISizeYSet" />
            <TextUpdate ViewModel="@ViewModel.ROISizeYRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Size Z</label>
        </div>
        <div style="grid-column:2;">
            <TextEntry ViewModel="@ViewModel.ROISizeZSet" />
            <TextUpdate ViewModel="@ViewModel.ROISizeZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Auto Size X</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIAutoSizeXSet" />
            <TextUpdate ViewModel="@ViewModel.ROIAutoSizeXRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Auto Size Y</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIAutoSizeYSet" />
            <TextUpdate ViewModel="@ViewModel.ROIAutoSizeZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Auto Size Z</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIAutoSizeZSet" />
            <TextUpdate ViewModel="@ViewModel.ROIAutoSizeZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Reverse X</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIReverseXSet" />
            <TextUpdate ViewModel="@ViewModel.ROIReverseXRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Reverse Y</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIReverseYSet" />
            <TextUpdate ViewModel="@ViewModel.ROIReverseYRBV" />
        </div>
        <div style="grid-column:1;">
            <label>Reverse Z</label>
        </div>
        <div style="grid-column:2;">
            <ComboBox ViewModel="@ViewModel.ROIReverseZSet" />
            <TextUpdate ViewModel="@ViewModel.ROIReverseZRBV" />
        </div>
        <div style="grid-column:1;">
            <label>ROI Output Size</label>
        </div>
        <div style="grid-column:2;">
            <TextUpdate ViewModel="@ViewModel.ROIOutputSizeXRBV" />
            <TextUpdate ViewModel="@ViewModel.ROIOutputSizeYRBV" />
            <TextUpdate ViewModel="@ViewModel.ROIOutputSizeZRBV" />
        </div>
        </div>
    </div>
  </div>
@code {
    [Parameter]
    public IntensityMapFeatures_ROITabPluginSettingsViewModel ViewModel { get; set; }

}
