@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers.TabWidget
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.ViewModels.ContainerWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.MonitorWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.UpdateWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.HelperWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels

  <div class = "display-tab">
    <label>EPICS Name</label>
    <TextUpdate class="epics-name" ViewModel="@ViewModel.EPICSName" />
    <label>Image Rate</label>
  <TextUpdate class="display-tab-common-width" ViewModel="@ViewModel.ImageRateRBV" />
    <label>Image Counter</label>
    <div class="display-tab-flex">
    <TextEntry class="display-tab-common-width" ViewModel="@ViewModel.ImageCounter" />
    <TextUpdate class="display-tab-common-width" ViewModel="@ViewModel.ImageCounterRBV" />
    </div>
    <label>Maximum Pixel</label>
  <TextUpdate class="display-tab-common-width" ViewModel="@ViewModel.MaxPixelValueRBV" />
    <label>Pixel Bit Depth</label>
  <TextUpdate class="display-tab-common-width" ViewModel="@ViewModel.PixelBitDepthRBV" />
    <label>Colour Map</label>
  <ComboBox class="display-tab-common-width" ViewModel="@ViewModel.ColourMap" />
    <label>Normalisation</label>
  <Checkbox ViewModel="@ViewModel.AutoNormalise" />
  <div class="display-tab-second-col">
    <Slider class="manual-norm" SpinnerClass="display-tab-common-width" ViewModel="@ViewModel.ManualNormalisationValue" />
    </div>
  <label>Show Profile</label>
  <Checkbox ViewModel="@ViewModel.ShowProfileGraph" />
  <label>Export</label>
  <div class="display-tab-flex">
    <ActionButton class="export-buttons" ViewModel="@ViewModel.ExportProfileGraphX" />
    <ActionButton class="export-buttons" ViewModel="@ViewModel.ExportProfileGraphY" />
  </div>
  <div class="display-tab-second-col">
    <ActionButton class="export-image" ViewModel="@ViewModel.ExportImage" />
  </div>
  </div>

@code {
    [Parameter]
    public ViewModels.IntensityMapFeatures_DisplayTabViewModel ViewModel { get; set; }
}
