@using Clf.Blazor.Complex.IntensityMap.ViewModels;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers.TabWidget
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.ViewModels.ContainerWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.MonitorWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.UpdateWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels.HelperWidgetViewModels
@using Clf.Blazor.Basic.Components.Controls.ViewModels

<div class="acquisition-tab">
  <label>Acquire</label>
  <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.AcquisitionStatusRBV" />
  <div class="acquisition-tab-second-col acquisition-tab-flex">
    <ActionButton class="acquisition-tab-common-width" ViewModel="@ViewModel.StartAcquisition" />
    <ActionButton class="acquisition-tab-common-width" ViewModel="@ViewModel.StopAcquisition" />
  </div>
  <label>Detector State</label>
  <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.DetectorStateRBV" />
  @*<ActionButton ViewModel="@ViewModel.SoftwareTrigger" />*@
  <label>Exposure Time</label>
  <div class="acquisition-tab-flex">
    <TextEntry class="acquisition-tab-common-width" ViewModel="@ViewModel.ExposureTime" />
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.ExposureTimeRBV" />
  </div>
  <label>Acquire Period</label>
  <div class="acquisition-tab-flex">
    <TextEntry class="acquisition-tab-common-width" ViewModel="@ViewModel.AcquirePeriod" />
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.AcquirePeriodRBV" />
  </div>
  <label>Gain</label>
  <div class="acquisition-tab-flex">
    <TextEntry class="acquisition-tab-common-width" ViewModel="@ViewModel.Gain" />
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.GainRBV" />
  </div>
  <label>Trigger Source</label>
  <div class="acquisition-tab-flex">
    <ComboBox class="acquisition-tab-common-width" ViewModel="@ViewModel.TriggerSource" />
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.TriggerSourceRBV" />
  </div>
  <label>Image Mode</label>
  <div class="acquisition-tab-flex">
    <ComboBox class="acquisition-tab-common-width" ViewModel="@ViewModel.ImageMode" />
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.ImageModeRBV" />
  </div>
  <label># Images to Acquire</label>
  <div class="acquisition-tab-flex">
    <TextEntry class="acquisition-tab-common-width" ViewModel="@ViewModel.NumImages" />
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.NumImagesRBV" />
  </div>
  <label># Images Complete</label>
  <div class="acquisition-tab-second-col">
    <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.NumImagesCounterRBV" />
  </div>
  <label>Image Rate</label>
  <TextUpdate class="acquisition-tab-common-width" ViewModel="@ViewModel.ImageRateRBV" />
</div>

@code {
  [Parameter]
  public ViewModels.IntensityMapFeatures_AcquisitionTabViewModel ViewModel { get; set; }
}

