@page "/boolean-button-examples"
@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Models;
@using Clf.Blazor.Basic.Components.Controls.ViewModels.MonitorWidgetViewModels;
@using Clf.Blazor.Basic.Components.Controls.ViewModels.UpdateWidgetViewModels;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Common.ImageProcessing;

<h3>Boolean Button Examples</h3>

<table>
  <tr>
    <th scope="row">Default</th>
    <td><BooleanButton ViewModel="@_defaultOnBooleanButton" /></td>
    <td><BooleanButton ViewModel="@_defaultOffBooleanButton" /></td>
  </tr>
  <tr>
    <th scope="row">Custom Icons</th>
    <td>
      <BooleanButton ViewModel="@_customIconOnBooleanButton">
        <ButtonOn>
          <SingleColourIcon class="led-icon" IconId="clf_ic_dismiss_24_regular" />
        </ButtonOn>
        <ButtonOff>
          <SingleColourIcon class="led-icon" IconId="clf_ic_exclamation_24_regular" />
        </ButtonOff>
      </BooleanButton>
    </td>
    <td>
      <BooleanButton ViewModel="@_customIconOffBooleanButton">
        <ButtonOn>
          <SingleColourIcon class="led-icon" IconId="clf_ic_dismiss_24_regular" />
        </ButtonOn>
        <ButtonOff>
          <SingleColourIcon class="led-icon" IconId="clf_ic_exclamation_24_regular" />
        </ButtonOff>
      </BooleanButton>
    </td>
  </tr>
  <tr>
    <th scope="row">Not Connected</th>
    <td><BooleanButton ViewModel="@_notConnectedOnBooleanButton" /></td>
    <td><BooleanButton ViewModel="@_notConnectedOffBooleanButton" /></td>
  </tr>
  <tr>
    <th scope="row">Major Alarm</th>
    <td><BooleanButton ViewModel="@_majorAlarmOnBooleanButton" /></td>
    <td><BooleanButton ViewModel="@_majorAlarmOffBooleanButton" /></td>
  </tr>
  <tr>
    <th scope="row">Minor Alarm</th>
    <td><BooleanButton ViewModel="@_minorAlarmOnBooleanButton" /></td>
    <td><BooleanButton ViewModel="@_minorAlarmOffBooleanButton" /></td>
  </tr>
  <tr>
    <th scope="row">Invalid</th>
    <td><BooleanButton ViewModel="@_invalidOnBooleanButton" /></td>
    <td><BooleanButton ViewModel="@_invalidOffBooleanButton" /></td>
  </tr>

</table>

@code {


  private BooleanButtonViewModel _defaultOnBooleanButton = new BooleanButtonViewModel(
        tooltipText: "Default On",
        borderStatus: BorderStatus.Connected,
        value: true
   );
  private BooleanButtonViewModel _defaultOffBooleanButton = new BooleanButtonViewModel(
       tooltipText: "Default Off",
       borderStatus: BorderStatus.Connected,
       value: false
  );

  private BooleanButtonViewModel _customIconOnBooleanButton = new BooleanButtonViewModel(
        tooltipText: "Custom Icon On",
        borderStatus: BorderStatus.Connected,
        value: true
   );
  private BooleanButtonViewModel _customIconOffBooleanButton = new BooleanButtonViewModel(
       tooltipText: "Custom Icon Off",
       borderStatus: BorderStatus.Connected,
       value: false
  );

  private BooleanButtonViewModel _notConnectedOnBooleanButton = new BooleanButtonViewModel(
    tooltipText: "Default On",
    borderStatus: BorderStatus.NotConnected,
    value: true
   );
  private BooleanButtonViewModel _notConnectedOffBooleanButton = new BooleanButtonViewModel(
       tooltipText: "Default Off",
       borderStatus: BorderStatus.NotConnected,
       value: false
  );

  private BooleanButtonViewModel _majorAlarmOnBooleanButton = new BooleanButtonViewModel(
   tooltipText: "Default On",
   borderStatus: BorderStatus.MajorAlarm,
        value: true

  );
  private BooleanButtonViewModel _majorAlarmOffBooleanButton = new BooleanButtonViewModel(
   tooltipText: "Default Off",
   borderStatus: BorderStatus.MajorAlarm,
       value: false
  );

  private BooleanButtonViewModel _minorAlarmOnBooleanButton = new BooleanButtonViewModel(
    tooltipText: "Default On",
    borderStatus: BorderStatus.MinorAlarm,
        value: true

   );
  private BooleanButtonViewModel _minorAlarmOffBooleanButton = new BooleanButtonViewModel(
  tooltipText: "Default Off",
  borderStatus: BorderStatus.MinorAlarm,
       value: false
   );

  private BooleanButtonViewModel _invalidOnBooleanButton = new BooleanButtonViewModel(
   tooltipText: "Default On",
   borderStatus: BorderStatus.Invalid,
        value: true

  );

  private BooleanButtonViewModel _invalidOffBooleanButton = new BooleanButtonViewModel(
   tooltipText: "Default Off",
   borderStatus: BorderStatus.Invalid,
       value: false
  );

}